* {
  font-family: 'Lato', sans-serif, Arial;
}
body {
  margin: 0;
}
.top_head {
  background-color: #2d3a64;
  height: 5px;
}
.custom-logo {
  width: 60px;
  height: auto;
  margin-top: 25px;
}
.banner {
  background-image: url('../images/bg.jpg');
  background-position: center;
}
.banner h2 {
  font-size: 30px;
  color: #FFF;
  margin-top: 35px;
  line-height: 40px;
}
.banner h2 strong {
  color: #a0afe0
}
.banner .optin {
  font-size: 16px;
  color: #FFFFFF;
  margin-top: 40px;
}
.banner .optin form {
  margin-top: 15px;
}
.banner .optin_email {
  height: 45px;
  font-size: 14px;
  border: 0;
  border-radius: 10px;
  width: 100%;
  max-width: 333px;
  outline: 0;
  color: #333333;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 2px 2px 8px #333 ;
}
.banner .optin_btn {
  height: 45px;
  font-size: 16px;
  font-weight: bold;
  color: #293a65;
  background-color: #a0afe0;
  border: 0;
  border-radius: 10px;
  padding-left: 23px;
  padding-right: 23px;
  margin-left: 10px;
  box-shadow: 2px 2px 8px #333 ;
}
.banner .optin_btn:hover {
  background-color: #8aa4f4;
}
.banner-small {
  padding-bottom: 30px;
}
.banner-small h2 {
  margin-top: 55PX;
}

.hero-image {
  height: 284px;
}
.menuarea {
  float: right;
}
.menuarea nav {
  float: left;
}
.menuarea nav ul,
.menuarea nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.menuarea nav li {
  float: left;
  margin-left: 6px;
  margin-right: 6px;
  line-height: 115px;
}  
.menuarea nav li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #2b3a65;
  font-size: 13px;
}
.menuarea .social {
  float: left;
  margin-left: 15px;
}
.menuarea .social img {
  height: 20px;
  margin-left: 10px;
  margin-right: 10;
  margin-top: 45px;
}
.menuarea .social a {
  text-decoration: none;
}
.depoimentos {
  height: 100px;
  background-color: #e3e3e3;
  padding-top: 17px;
}
.depoimentos img {
  height: 65px;
  border-radius: 5px;
  float: left;
  margin-right: 20px;
}


article.type-post {
  margin-top: 45px;
  margin-bottom: 45px;
}
.post_thumb {
  width: 100%;
  height: auto;
}

.post_title {
  font-size: 30px;
  font-weight: bold;
}
.post_title a {
  color: #2d3a64;
  text-decoration: none;
}
.post_title a:hover {
  text-decoration: underline;
}
.post_excerpt {
  color: #000;
  font-size: 14px;
  margin-top: 20px;
}
.post_readmore {
  margin-top: 23px;
}
.post_button {
  padding: 12px;
  font-size: 14px;
  color: #FFF;
  background-color: #455482;
  display: inline-block;
  border-radius: 8px;
}
.post_button:hover {
  background-color: #2e3d70;
}

.loadmoreBtn {
  color: #2d3a64;
  font-size: 16px;
  font-weight: bold;
  margin: auto;
  padding-bottom: 45px;
  text-align: center;
  width: 130px;
  cursor: pointer;
}
.loadmoreBtn img {
  width: 21px;
  height: 21px;
}

.footer_up {
  background-color: #455482;
  padding-top: 20px;
  padding-bottom: 30px;
}
.footer_up h3 {
  font-size: 24px;
  color: #FFF;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.cursos img {
  border: 2px solid #FFF;
  width: 100%;
  height: auto;  
}
.footer_down {
  background-color: #2d3a64;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
  color: #FFF;
}

.post_content {
  margin-top: 30px;
  margin-bottom: 50px;
}
.post_content img {
  width: 100%;
  height: auto;
}
.post_related_item {
  width: 33%;
  float: left;
}
.comentario_area {
  margin-top: 40px;
  background-color: #DDD;
}
#respond {
  border-top: 1px solid rgb(233, 229, 229);
  margin-top: 26px;
}
.comentario_foto {
  float: left;
  margin-right: 15px;
}
textarea {
  border-color: silver;
  width: 50%;
  height: 100px;
}

.post_related_title h2 {
  font-size: 20px;
}
